.whitebox{
    margin-left: 40px;
    margin-right: 90px;
    padding: 10px 10px;
    position: relative;
    width: 40%;

    animation : movedown 1s linear forwards;
  
   
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform:translateY(-30px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }

}
.whitebox:nth-child(1){
    animation-delay: 0s;
}
.whitebox:nth-child(2){
    animation-delay: 5s;
}
.whitebox:nth-child(3){
    animation-delay: 10s;
}
.whitebox:nth-child(4){
    animation-delay: 15s;
}
.whitebox:nth-child(5){
    animation-delay: 20s;
}








.text-box{

    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    
    
}
.text-box h2,p,small{
    color: black;
}

.right{
    left:50%;
}

/* Red line Creating  css*/

.timeline::after{
    content: '';
    position: absolute;
    background: #fd0000;
    width: 15px;
    height: 1300px;
    top: 0px;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    margin-top: 13%;
    z-index: -1;

    /*adding animation in red line*/
    animation: moveline 6s linear forwards; 

} 
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 1300px;
    }
} 


.whitebox img{
    position: absolute;
    top: 1%;
    right: -115px;
    width: 70px;
    border-radius: 50%;
    border: 9px solid rgb(255, 255, 255);
    box-shadow: 3px 5px 30px #c5c5c577,-6px -6px 70px #ffffff77;
    z-index: 1;

}
.whitebox.right img{
    position: absolute;
    top: 9%;
    right: -6px;
    left: -98px;
    width: 70px;
    border-radius: 50%;
    border: 9px solid rgb(255, 255, 255);
    /* box-shadow: 3px 5px 30px #c5c5c5,-6px -6px 70px #fff; */ 
    z-index: 1; 


}

 .whitebox::before{
    content: '';
    width: 0;
    height: 10;
    position: absolute;
    top: 22px;
    right: 30px;
    border: 10px solid #fff;
    border-width: 10px 0 10px 10px;
    border-color:transparent transparent #fff ;

}

 .whitebox.right::before{
    left: -2px;
    border: 250px solid #fff;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff transparent transparent;
}  

.whitebox.left::before{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -5px;

}

